<%= event_action_name_with(event[:action]) %>
<span class="data-readable-date"><%= event_due_at_pre(event[:prev]) %></span>
修改为
<span class="data-readable-date"><%= event_due_at_after(event[:after]) %></span>
