<div class="page page-root">
  <div class="page-inner" id="page-events">
    <div class="filters">
    </div>
    <div class="team-events" data-total-page=<%= @total_page %> data-team-id=<%= params[:team_id] %>>
      <%= render partial: 'team', locals: { team_events_hash: @team_events_hash } %>
      <% if @events_count <= @per_page %>
        <a>没有更多内容了</a>
      <% else %>
        <a id="inifiniteLoader">加载更多内容... </a>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  Events.InfiniteScroll.infiniteScroll();
</script>
